* {
    -primary: #1d6dc4;
    -primary_darker: #144984;
    -primary_lighter: #2186f1;
    -button_text_color: #ffffff;
    -secondary: #031f3d;
    -secondary_darker: #021326;
    -secondary_lighter: #083c73;
    -fx-base: #ffffff;
}