.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/PlayItBackgammon.iml
.idea/libraries/lib.xml
out/production/Project2-2/Main.class
*.class
*.bin
*.xml
out/production/Project2-2/.idea/Project2-2.iml
/bin/
.idea/