.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/PlayItBackgammon.iml
.idea/libraries/lib.xml
out/production/Project2-2/Main.class
*.class
*.bin
*.xml
out/production/Project2-2/.idea/Project2-2.iml
/bin/
.idea/
out/production/Project2-2/sample/Controller.class
out/production/Project2-2/sample.fxml
out/production/Project2-2/sample/Controller.class
out/production/Project2-2/sample/Data.class
out/production/Project2-2/sample/Controller.class
out/production/Project2-2/sample/Controller.class
out/production/Project2-2/sample/Lecture.class
out/production/Project2-2/sample/Data.class
out/production/Project2-2/sample/Main.class
*.iml
.DS_Store
